{{ define "main" }}

<!-- Define $pages -->
{{ $pages := union .RegularPages .Sections }}
{{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<!-- Define $paginator -->
{{ $paginator := .Paginate $pages }}

<!-- Featured Section (Displayed on Home Page, First Page Only) -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) }}
  <div class="featured-container">
      <img src="/animation/banner.gif" alt="Banner" class="banner-image">
      <p>Welcome to my world wide web. Let's start with some <a href='/music'>music</a> and <a href='/blog'>blogs</a>?</p>
      
      {{ range .Site.Params.aboutItems }}
      <div class="about-item">
        <p class="about-text"><b>{{ .title | safeHTML }}</b> {{ .description | safeHTML }}</p>
      </div>
      {{ end }}
    </div>
  </div>

{{ end }}

<!-- List of Posts in Grid Layout -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-0">
  {{ range $paginator.Pages }}
  <section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
    {{ if gt .Weight 0 }}
    <span class="mb-1 inline-block text-xs tracking-wider text-orange-500">Featured</span>
    {{ end }}
    <h2 class="!my-0">{{ .Title }}</h2>
    <time class="text-xs antialiased opacity-60">{{ .Date | time.Format ":date_medium" }}</time>
    <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
  </section>
  {{ end }}
</div>

<!-- Pagination Navigation -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-14 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}

{{ end }}