/* Mobile styles */
.desktop-only, .tablet-only {
  display: none;
}
.mobile-only {
  display: flex;

}

/* Tablet styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .desktop-only, .mobile-only {
    display: none;
  }
  .tablet-only {
    display: flex;
  }
}

/* Desktop styles */
@media screen and (min-width: 1025px) {
  .mobile-only, .tablet-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}
