/* Custom styles for the about section */
  .about-text h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  .about-text p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  .featured-container {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2em;
    overflow: hidden; /* Contain floated children */
  }

  .featured-container::after {
    content: "";
    display: block;
    clear: both; /* Clear the float */
  }

  .featured-container img {
    float: left;
    display: block;
  }


  .dark .list-posts {
    clear: both; /* Ensure it starts below any floated elements */
    padding-top: 1.5em;
    border-top: 0.1em solid #e5e7eb; /* Light gray border in light mode */
  }


  .list-posts {
    clear: both; /* Ensure it starts below any floated elements */
    padding-top: 1.25em;
    border-top-color: #374151; /* Darker border in dark mode */
    border-top: 0.1em solid #374151; /* Light gray border in light mode */
  }


/* Responsive image sizing for portrait and landscape */

@media (max-width: 768px) {
  #portrait img {
    max-width: 100%;
  }
  #portrait {
    text-align: center;
  }
  .featured-container img {
    margin: 0 0 1em 0;
  }
}

@media (min-width: 769px) {
  #portrait img, #landscape img {
    max-width: 15em;
  }

  .featured-container img {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    margin-right: 1.25em;
  }
}

.info-box table {
    border-style: dashed;
    width: 100%; /* Ensures the table spans its container */
}

.info-box th, .info-box td {
    border: 0.5em #000; /* Dashed borders to mimic the "---" appearance */
    padding: 4px; /* Small padding for readability, keeping it compact like code */
    text-align: left; /* Left-aligned text, common in code outputs */
}
