<header class="mx-auto flex h-[4.5rem] max-w-[--w] px-8 lg:justify-center custom-header">
  <div class="relative z-50 ltr:mr-auto rtl:ml-auto flex items-center">
    <a class="-translate-y-[1px] text-2xl font-medium custom-header-title" href="{{ `` | absURL }}"
      >{{ site.Title }}</a
    >
    <div
      class="btn-dark text-[0] ltr:ml-4 rtl:mr-4 h-button w-button shrink-0 cursor-pointer"
      role="button"
      aria-label="Dark"
    ></div>
  </div>

  <div
    class="btn-menu relative z-50 ltr:-mr-8 rtl:-ml-8 flex h-[4.5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
    role="button"
    aria-label="Menu"
  ></div>

  {{ $bg_color := $.Scratch.Get "bg_color" }}<!---->

  <script>
    // base
    const htmlClass = document.documentElement.classList;
    setTimeout(() => {
      htmlClass.remove('not-ready');
    }, 10);

    // mobile menu
    const btnMenu = document.querySelector('.btn-menu');
    btnMenu.addEventListener('click', () => {
      htmlClass.toggle('open');
    });

    // dark theme
    const metaTheme = document.querySelector('meta[name="theme-color"]');
    const lightBg = '{{ $bg_color }}'.replace(/"/g, '');
    const setDark = (isDark) => {
      metaTheme.setAttribute('content', isDark ? '#000' : lightBg);
      htmlClass[isDark ? 'add' : 'remove']('dark');
      localStorage.setItem('dark', isDark);

      const btnDark = document.querySelector('.btn-dark');
      if (btnDark) {
        btnDark.style.background = `url('button/${isDark ? 'dark-1' : 'bright-1'}.svg') center/cover no-repeat`;
      }
    };

    // init
    const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
    const goingDark = localStorage.getItem('dark') !== 'true';
    if (htmlClass.contains('dark')) {
      const darkVal = localStorage.getItem('dark');
      setDark(darkVal ? darkVal === 'true' : darkScheme.matches);

    } else {
      const darkVal = localStorage.getItem('dark');
      setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
    }

    // listen system
    darkScheme.addEventListener('change', (event) => {
      setDark(goingDark);
    });

    // manual switch
    const btnDark = document.querySelector('.btn-dark');
    btnDark.classList.add(!goingDark ? 'anim-dark' : 'anim-light');

    btnDark.addEventListener('click', () => {
      const goingDark = localStorage.getItem('dark') !== 'true';
      setDark(goingDark);

      // Remove any leftover animations
      btnDark.classList.remove('anim-dark', 'anim-light');

      // If we are going dark, run the "dark" animation; else run the "light" animation
      btnDark.classList.add(goingDark ? 'anim-dark' : 'anim-light');
    });
  </script>

  <div
    class="nav-wrapper fixed inset-x-0 top-full z-40 flex h-full select-none flex-col justify-center pb-16 duration-200 dark:bg-black lg:static lg:h-auto lg:flex-row lg:!bg-transparent lg:pb-0 lg:transition-none"
  >
    {{ $url := .RelPermalink }}<!---->
    {{ with site.Menus.main }}
    <nav class="lg:ml-12 lg:flex lg:flex-row lg:items-center lg:space-x-10 rtl:space-x-reverse">
      {{ range . }}
      <a
        class="block text-center text-xl leading-[5rem] lg:text-base lg:font-normal custom-header-nav"
        href="{{ .URL }}"
        >{{ .Name }}</a
      >
      {{ end }}
    </nav>
    {{ end }}<!---->
    
    {{ with $.Scratch.Get "social_list" }}
    <nav
      class="mt-12 flex justify-center space-x-10 rtl:space-x-reverse dark:invert ltr:lg:ml-12 rtl:lg:mr-12 lg:mt-0 lg:items-center"
    >
      {{ range . }}<!---->
      <a
        class="h-7 w-7 text-[0] [background:var(--url)_center_center/cover_no-repeat] lg:h-4 lg:w-4 custom-header-social"
        style="--url: url(./{{ . }}.svg)"
        href="{{ if eq . `rss` }}{{ `index.xml` | absURL }}{{ else if eq . `mastodon` }}{{ index site.Params . }}{{ else }}{{ if eq . `threads` }}https://threads.net/{{ else if eq . `bluesky` }}https://bsky.app/profile/{{ else if eq . `behance` }}https://behance.net/{{ else }}https://{{ . }}.com/{{ end }}{{ if eq . `linkedin` }}in/{{ end }}{{ index site.Params . }}{{ end }}"
        target="_blank"
        rel="{{ if eq . `rss` }}alternate{{ else }}me{{ end }}"
      >
        {{ . }}
      </a>
      {{ end }}<!---->
    </nav>
    {{ end }}<!---->
  </div>
</header>